<section class="admin-tabs py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 px-md-0">

                <div class="tab-content search-bo" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row" >
                            <div class="col-md-12">
                                <hr class="box-title-hr">
                                <h4 class="my-2 box-title">CONTENT LIST</h4>
                            </div>
                            <div class="col-md-12" > 
                                <mat-progress-spinner *ngIf="!rewards"
                                class="text-center m-auto"
                                color="warn"
                                mode="indeterminate" >
                                </mat-progress-spinner> 
                                <table class="table table-hover mt-3" datatable  [dtOptions]="dtOptionsContent" [dtTrigger]="dtTriggerContent">
                                    <thead>
                                        <tr>
                                            <th scope="col">Content Type</th>
                                            <th scope="col">User Occupation</th>
                                            <th scope="col">Content Name</th>
                                            <th scope="col">Carrot</th>
                                            <th scope="col">(Achievement) This Month Achiever Count</th>
                                            <th scope="col">(Reward) Redeem Count</th>
                                            <th scope="col">(Social Foundation) Donation Amount</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>           
                                        <tr *ngFor="let reward of rewards" >
                                            <td  data-toggle="modal" data-target="#seeDetail" (click)="onSelect(reward)">{{getRewardType(reward.type)}}</td>
                                            <td  data-toggle="modal" data-target="#seeDetail" (click)="onSelect(reward)">{{getRoleType(reward.role)}}</td>
                                            <td  data-toggle="modal" data-target="#seeDetail" (click)="onSelect(reward)">{{reward.name}}</td>
                                            <td  data-toggle="modal" data-target="#seeDetail" (click)="onSelect(reward)">{{reward.carrot}}</td>
                                            <td  *ngIf="reward.type == 1" data-toggle="modal" data-target="#seeDetail" (click)="onSelect(reward)">{{reward.totalUsage}}</td><td  *ngIf="reward.type != 1" data-toggle="modal" data-target="#seeDetail" (click)="onSelect(reward)">-</td>
                                            <td  *ngIf="reward.type == 2" data-toggle="modal" data-target="#seeDetail" (click)="onSelect(reward)">{{reward.totalUsage}}</td><td  *ngIf="reward.type != 2" data-toggle="modal" data-target="#seeDetail" (click)="onSelect(reward)">-</td>
                                            <td  *ngIf="reward.type == 3" data-toggle="modal" data-target="#seeDetail" (click)="onSelect(reward)">{{reward.totalUsage}}</td><td  *ngIf="reward.type != 3" data-toggle="modal" data-target="#seeDetail" (click)="onSelect(reward)">-</td>
                                            <td  data-toggle="modal" data-target="#seeDetail" (click)="onSelect(reward)">{{getStatus(reward.active)}}</td>
                                            <td><span *ngIf=checkClose(reward.active)><a class="btn btn-success" (click)="open(reward)">Open</a></span> <span *ngIf=checkOpen(reward.active)><a class="btn btn-secondary" data-toggle="modal" data-target="#setCloseMessage" (click)="setClose(reward)">Close</a></span> <a class="btn btn-danger" (click)="delete(reward)">Delete</a> <a class="btn btn-warning" data-toggle="modal" data-target="#editReward" (click)="onSelect(reward)"> Edit</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-center mb-3">
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newReward">
                                <i class="fa fa-plus-circle"></i> ADD NEW CONTENT
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<!-- New Content Modal -->
<div class="modal fade" id="newReward" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Reward</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                      <label for="text1">Reward Type</label><br>
                      <select name="type" #type (change)= "checkContent($event)">
                        <option value="Achievement" >Achievement</option>
                        <option value="Social">Social Foundation</option>
                        <option value="Reward" selected>Reward</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="file">Choose Image for Content</label>
                        <input type="file" id="file" (change)="handleFileInputContent($event.target.files)">
                    </div>
                    <div class="form-group">
                        <label for="text2">Target User</label><br>
                        <select name="user" #user>
                          <option value=5 selected>Employee</option>
                          <option *ngIf = "currentChoice == 'Reward'" value=4>Manager</option>
                        </select>
                    </div>  
                    <div class="form-group">
                        <label for="text5">Reward Name</label>
                        <input #name id="name" name="name" type="text" class="form-control here">
                    </div> 
                    <div class="form-group">
                        <label for="text5">Reward Description</label>
                        <input #description id="description" name="description" type="text" class="form-control here">
                    </div>
                    <div class="form-group">
                        <label for="text6" *ngIf = "currentChoice == 'Reward'">Carrot Needed</label><label for="text6" *ngIf = "currentChoice == 'Achievement'">Carrot Gained</label><label for="text6" *ngIf = "currentChoice == 'Social'">Carrot Target</label>
                        <input #carrot id="carrot" name="carrot" type="number" class="form-control here">
                    </div>
                    <div *ngIf = "currentChoice == 'Reward'">
                        <div class="form-group">
                            <label for="text3">Redeem Limit</label>
                            <input [(ngModel)]="limit" name="limit" type="number" class="form-control here">
                        </div>          
                        <div class="form-group">
                            <label for="text4">Expire Date</label>
                            <input [(ngModel)]="expired" name="expired" type="date" >
                        </div>  
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button *ngIf = "currentChoice == 'Reward'" type="button" class="btn btn-carrot radius-5" (click)="addReward(user.value, name.value, description.value, carrot.value); user.value=''; name.value==''; description.value=''; carrot.value=''" data-dismiss="modal">ADD REWARD</button>
                <button *ngIf = "currentChoice == 'Achievement'" type="button" class="btn btn-carrot radius-5" (click)="addAchievement(user.value, name.value, description.value, carrot.value); user.value=''; name.value==''; description.value=''; carrot.value=''" data-dismiss="modal">ADD ACHIEVEMENT</button>
                <button *ngIf = "currentChoice == 'Social'" type="button" class="btn btn-carrot radius-5" (click)="addSocial(user.value, name.value, description.value, carrot.value); user.value=''; name.value==''; description.value=''; carrot.value=''" data-dismiss="modal">ADD SOCIAL FOUNDATION</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Content Modal -->
<div class="modal fade" id="editReward" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Reward</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf = "selectedReward">
                <form>
                    <div class="form-group">
                        <label for="text1">Reward Name</label>
                        <input [(ngModel)]="selectedReward.name" name="rewardName" type="text" class="form-control here"  >
                    </div> 
                    <div class="form-group">
                        <label for="file">Edit content Image</label>
                        <input type="file" id="file" (change)="handleFileInputContent($event.target.files)">
                    </div>
                    <div class="form-group">
                        <label for="text1">Reward Description</label>
                        <input [(ngModel)]="selectedReward.description" name="rewardDescription" type="text" class="form-control here"  >
                    </div>
                    <div *ngIf="selectedReward.type == 2" class="form-group">
                        <label for="text1">Expire Date</label><br>
                        <input [(ngModel)]="selectedReward.expired" type="date" name="expire">
                    </div>
                    <div class="form-group">
                        <label for="text1">Carrot</label><br>
                        <input [(ngModel)]="selectedReward.carrot" name="carrot" type="text" class="form-control here"  >
                    </div>
                    <div *ngIf="selectedReward.type == 2" class="form-group">
                        <label for="text1">Redeem Limit</label><br>
                        <input [(ngModel)]="selectedReward.currentCarrot" type="text" name="limit">
                    </div>
                </form>
            </div>           
            <div class="row col-md-12">
                <label for="text1">Click on the Group name to move it.</label><br>
                <div class="col-md-6">
                    <table class="table table-hover mt-3">
                        <thead>
                            <tr>
                                <th rowspan="1">Not Able</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ul class="managers">
                                <li *ngFor="let group of disabledGroup"
                                    [class.selected]="group === selectedGroup"
                                    (click)="groupOnSelectToMove(group)">
                                        {{group.name}}
                                </li>
                            </ul>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-hover mt-3">
                        <thead>
                            <tr>
                                <th rowspan="1">Able</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ul class="managers">
                                <li *ngFor="let group of enabledGroup"
                                    [class.selected]="group === selectedGroup"
                                    (click)="groupOnSelectToRemove(group)">
                                        {{group.name}}
                                </li>
                            </ul>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal" (click)="cancelSave()">Cancel</button>
                <button type="button" class="btn btn-carrot radius-5" (click)="save()" data-dismiss="modal">SAVE EDIT</button>
            </div>
        </div>
    </div>
</div>

<!-- Content Detail Modal -->
<div class="modal fade" id="seeDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reward Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf = "selectedReward">
                <form>
                    <div class="form-group">
                        <img src="{{selectedReward && selectedReward.picture ? selectedReward.picture : '../../assets/img/user.png'}}" alt="" width="300" height="300"><br>
                        <label >Type : </label>{{getRewardType(selectedReward.type)}}<br>
                        <label >User : </label>{{getRoleType(selectedReward.role)}}<br>
                        <label *ngIf="selectedReward.type == 1">Achievement Name : </label><label *ngIf="selectedReward.type == 2">Reward Name : </label><label *ngIf="selectedReward.type == 3">Social Foundation Name : </label>{{selectedReward.name}}<br>
                        <label >Description : </label><br>{{selectedReward.description}}<br>
                        <label *ngIf="selectedReward.type == 1">Carrot Gained : </label><label *ngIf="selectedReward.type == 2">Carrot Needed : </label><label *ngIf="selectedReward.type == 3">Carrot Target : </label>{{selectedReward.carrot}}<br>
                        <div *ngIf="selectedReward.type == 3"><label>Current Carrot : </label>{{selectedReward.currentCarrot}}</div>
                        <div *ngIf="selectedReward.type == 2"><label>Redeem Limit Left : </label>{{selectedReward.currentCarrot}}</div>            
                        <div *ngIf="selectedReward.type == 2"><label >Expired Date : </label>{{getDate(selectedReward.expired)}}</div>
                        <label >Status : </label>{{getStatus(selectedReward.active)}}<br>
                    </div>
                </form>
            </div>
            <div class="row col-md-12">
                <div class="col-md-6">
                    <table class="table table-hover mt-3">
                        <thead>
                            <tr>
                                <th rowspan="1">Able</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ul >
                                <li *ngFor="let group of enabledGroup"
                                    [class.selected]="group === selectedGroup">
                                        {{group.name}}
                                </li>
                            </ul>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div *ngFor="let change of changes" >
                    <div *ngIf="change.parameterChanged != 'Groups Able' && change.parameterChanged != 'Groups Disable' ">{{getDate(change.on)}} : "{{change.parameterChanged}}" changed from "{{change.from}}".</div>
                    <div *ngIf="change.parameterChanged == 'Groups Able'">{{getDate(change.on)}} : Group "{{change.from}}" now able to use this content.</div>
                    <div *ngIf="change.parameterChanged == 'Groups Disable'">{{getDate(change.on)}} : Group "{{change.from}}" now unable to use this content.</div>
                </div>
            </div> 
            <div class="modal-footer">               
              <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Set Close Modal -->
<div class="modal fade" id="setCloseMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Close Reward</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="text1">Set Close Message</label>
                        <input  [(ngModel)]="closeMessage" type="text" name = "closeMessage" class="form-control here">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-carrot radius-5" (click)="close()" data-dismiss="modal">Close it</button>
            </div>
        </div>
    </div>
</div>
        

