<section class="admin-tabs py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 px-md-0">

                <div class="tab-content search-bo" id="myTabContent">
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <hr class="box-title-hr">
                                <h4 class="my-2 box-title">APPROVAL LIST</h4>
                            </div>
                            <div class="col-md-12">
                                <mat-progress-spinner *ngIf="loadingApproval"
                                class="text-center m-auto"
                                color="warn"
                                mode="indeterminate" >
                                </mat-progress-spinner> 
                                <table class="table table-hover mt-3" datatable [dtOptions]="dtOptionsApproval" [dtTrigger]="dtTriggerApproval">
                                    <thead>
                                        <tr>
                                            <th scope="col">User</th>
                                            <th scope="col">Reward</th>
                                            <th scope="col">Date Request</th>
                                            <th scope="col">Carrot</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let approval of approvals" >
                                            <td>{{approval.sender.name}}</td>
                                            <td>{{getContentById(approval.contentId)}}</td>
                                            <td>{{getDate(approval.dateOccured)}}</td>
                                            <td>{{approval.amount}}</td>
                                            <td><a class="btn btn-success" data-toggle="modal" data-target="#approvedMessage" (click)="onSelectApproval(approval.sender, approval)">Approve</a> <a class="btn btn-danger" data-toggle="modal" data-target="#disapprovedMessage" (click)="onSelectApproval(approval.sender, approval)">Disapprove</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<!-- Approve Message Modal -->
<div class="modal fade" id="approvedMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send Message to {{selectedUser.name}} regarding Reward Acceptance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <label for="text1">Message</label>
                    <input #messageApprove type="text" id="messageApprove" name = "messageApprove">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal" (click)="messageApprove.value==''">Cancel</button>
                <button type="button" class="btn btn-carrot radius-5" (click)="setApprove(messageApprove.value); " data-dismiss="modal">Approve</button>
            </div>
        </div>
    </div> 
</div>

<!-- Disapprove Message Modal -->
<div class="modal fade" id="disapprovedMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send Message to {{selectedUser.name}} regarding Reward Rejection</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <label for="text1">Message</label>
                    <input #messageDisapprove type = "text" id="messageDisapprove" name = "messageDisapprove">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal" (click)="messageDisapprove.value==''">Cancel</button>
                <button type="button" class="btn btn-carrot radius-5" (click)="setDisapprove(messageDisapprove.value);messageDisapprove.value = ''" data-dismiss="modal">Disapprove</button>
            </div>
        </div>
    </div> 
</div>