<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body>
    <div id="header"></div>

    <!-- Begin page content -->
    <main role="main" class="container">
        <h2 class="mt-4 pl-0 text-grey ml-0">
        ROOT-ADMINISTRATOR DASHBOARD
       </h2>
    </main>
    <section class="admin-tabs py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 px-md-0">
                    <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" (click)=" openAdminList()" [ngClass]="{'btn-success': isAdmin, 'btn-outline-success': !isAdmin }">Admin List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)=" openManagerList()" [ngClass]="{'btn-success': isManager, 'btn-outline-success': !isManager }">Approve Manager</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)=" openStaffList()" [ngClass]="{'btn-success': isStaff, 'btn-outline-success': !isStaff }">Approve Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)=" openSocial()" [ngClass]="{'btn-success': isSocial, 'btn-outline-success': !isSocial }">Approve Social Foundation Carrot</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)=" openGiveCarrot()" [ngClass]="{'btn-success': isGiveCarrot, 'btn-outline-success': !isGiveCarrot }">Give Carrot</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)=" openSetCarrot()" [ngClass]="{'btn-success': isSetCarrot, 'btn-outline-success': !isSetCarrot }">Set Carrot</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div>
        <app-admin-list *ngIf="isAdmin" ></app-admin-list>
        <app-approval-manager *ngIf="isManager" ></app-approval-manager>
        <app-approval-admin *ngIf="isStaff" ></app-approval-admin>
        <app-approval-social *ngIf="isSocial" ></app-approval-social>
        <app-carrot-give *ngIf="isGiveCarrot" ></app-carrot-give>
        <app-carrot-set *ngIf="isSetCarrot" ></app-carrot-set>
    </div>
    
    <div id="footer"></div>
</body>

</html>