<section class="bazaar-1-item mb-4 pb-5">
  <div class="container search-box pb-4">
    <div class="row d-flex">
      <div class="col-md-12">
        <hr class="box-title-hr">
        <h4 class="my-2 box-title">{{loggedInUser && loggedInUser.group && loggedInUser.group.name ? loggedInUser.group.name : 'Colleagues'}}</h4>
      </div>

      <mat-progress-spinner *ngIf="!users"
        class="text-center m-auto"
        color="warn"
        mode="indeterminate" >
      </mat-progress-spinner>
      <div *ngFor="let user of users" class="col-md-12 card">
        <div class="row soft-shadow p-0 m-2">
          <div class="col-md-2 my-auto">
            <img src="{{user && user.picture ? user.picture : '../../assets/img/user.png'}}" alt="" class="img-fluid rounded-circle">
          </div>
          <div class="col-md-10 my-auto">
            <a data-toggle="modal" (click)="selectUser(user)" data-target="#modalProfile"><h4 class="mb-0 ">{{user.name}}</h4></a>
            <p class=" ">{{Utility.transformDate(user.dob, 'longDate')}}</p>
            <a class="badge badge-orange" data-toggle="modal" (click)="selectUser(user, true)" data-target="#modalShare">Send carrot</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
  
<!-- Modal Share -->
<div *ngIf="selectedUser && modalShare" class="modal fade" id="modalShare" tabindex="-1" role="dialog" aria-labelledby="modalShareLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalShareLabel">Share your carrot!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeBtn >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name">Recipient</label> 
            <input name="name" type="text" class="form-control here" placeholder="Autocomplete + dropdown" [(ngModel)]="selectedUser.name" disabled />
          </div>
          <div class="form-group">
            <label for="description">Comments</label> 
            <textarea #description id="description" name="description" cols="40" rows="5" class="form-control" placeholder="Good job broooo!!!!!!" required ></textarea>
          </div> 
          <div class="form-group">
            <label for="amount">Carrot</label> 
            <input #amount (input)="changeAmount(amount.value)" name="amount" type="number" class="form-control here" [min]=1 [max]="config.carrotLimit" value={{amountValue}} required >
          </div> 
        </form>
      </div>
      <div class="modal-footer">
        <mat-progress-spinner *ngIf="isExchangeLoading"
          class="text-center m-auto"
          color="warn"
          diameter=34
          mode="indeterminate" >
        </mat-progress-spinner>
        <div *ngIf="!isExchangeLoading" >
          <button type="button" class="btn btn-link float-left" data-dismiss="modal">Cancel</button>
          <button (click)="sendCarrot(description.value)" type="button" class="btn btn-carrot radius-5 float-right">Send Carrot</button>
        </div>
      </div>
    </div>
  </div>
</div>
  

<!-- Modal Profile -->
<div *ngIf="selectedUser && !modalShare" class="modal fade" id="modalProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{selectedUser.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="text">Date of birth</label> 
            <input name="dob" type="text" class="form-control here" [(ngModel)]="selectedUser.dob" disabled />
          </div>
          <div class="form-group">
            <label for="text">Join Date</label> 
            <input name="joinDate" type="text" class="form-control here" [(ngModel)]="selectedUser.joinDate" disabled />
          </div>
          <div class="form-group">
            <label for="textarea">Address</label> 
            <textarea id="address" name="address" cols="40" rows="5" class="form-control" [(ngModel)]="selectedUser.address" disabled ></textarea>
          </div> 
          <div class="form-group">
            <label for="text1">Carrot</label> 
            <input id="carrot" name="carrot" type="number" class="form-control here"  [(ngModel)]="selectedUser.carrot" disabled />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link float-left" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-carrot radius-5 float-right">Send Carrot</button> -->
      </div>
    </div>
  </div>
</div>