<section class="admin-tabs py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 px-md-0">

                <div class="tab-content search-bo" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <hr class="box-title-hr">
                                <h4 class="my-2 box-title">SENIOR MANAGER LIST</h4>
                            </div>
                            <div class="col-md-12">
                                <mat-progress-spinner *ngIf="loadingSeniorManager"
                                class="text-center m-auto"
                                color="warn"
                                mode="indeterminate" >
                                </mat-progress-spinner> 
                                <table id="senior-manager-table"class="table table-hover mt-3" datatable [dtOptions]="dtOptionsSeniorManager" [dtTrigger]="dtTriggerSeniorManager">
                                        <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>       
                                            <tr *ngFor="let user of sManager">
                                                <td>{{user.name}}</td>
                                                <td>{{user.email}}</td>
                                                <td><a (click)="onSelect(user)" class="btn btn-success" data-toggle="modal" data-target="#sendCarrot">Give Carrot</a></td>
                                            </tr>
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- MODAL -->
<div class="modal fade" id="sendCarrot" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Give Carrot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="text1">Amount of Carrot(s)</label>
                      <input #carrotSent name="carrotSent" type="text" class="form-control here"  >
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal" (click)="cancelEdit()">Cancel</button>
                <button type="button" class="btn btn-carrot radius-5" (click)="send(carrotSent.value)" data-dismiss="modal">Send</button>
            </div>
        </div>
    </div>
</div>