<section class="admin-tabs py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 px-md-0">

                <div class="tab-content search-bo" >
                    <div class="tab-pane fade show active" >
                        <div class="row">
                            <div>
                                <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
                                    <div class="row" >
                                        <div class="col-md-12">
                                            <hr class="box-title-hr">
                                            <h4 class="my-2 box-title">NEWSLETTER AND CLOSE MESSAGE LIST</h4>
                                        </div>
                                        <div class="col-md-12">
                                            <mat-progress-spinner *ngIf="loadingNewsletters"
                                            class="text-center m-auto"
                                            color="warn"
                                            mode="indeterminate" >
                                            </mat-progress-spinner> 
                                            <table class="table table-hover mt-3" datatable  [dtOptions]="dtOptionsNewsletter" [dtTrigger]="dtTriggerNewsletter">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Title</th>
                                                        <th scope="col">Publish Date</th>
                                                        <th scope="col">By</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let newsletter of newsletters" >
                                                        <td data-toggle="modal" data-target="#newsletterDetail" (click)="onSelectNewsletter(newsletter)">{{newsletter.title}}</td>
                                                        <td data-toggle="modal" data-target="#newsletterDetail" (click)="onSelectNewsletter(newsletter)">{{getDate(newsletter.creationDate)}}</td>
                                                        <td data-toggle="modal" data-target="#newsletterDetail" (click)="onSelectNewsletter(newsletter)">{{getUserNameById(newsletter.adminId)}}</td> 
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row" >
                                    <div class="col-md-12">
                                        <hr class="box-title-hr">
                                        <h4 class="my-2 box-title">CREATE NEWSLETTER</h4>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="text1">Title</label><br>
                                        <input #title type="text" name="title" id="title"><br>
                                        <label for="text1">Content</label><br>
                                        <textarea [froalaEditor] [(froalaModel)]="editorContent"></textarea>
                                        <div class="text-center mb-3">
                                            <button type="button" class="btn btn-info" (click) = "publish(title.value); editorContent = ''; title.value = ''">
                                            <i class="fa fa-plus-circle"></i> PUBLISH
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<!-- Edit Group Name Modal -->
<div class="modal fade" id="newsletterDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New Staff Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <label for="text1">Title</label>
                    <div class="form-group">
                        {{selectedNewsletter.title}}
                    </div>
                    <label for="text1">Content</label>
                    <div class="form-group" [froalaView]="selectedNewsletter.description"></div>
                </form>
            </div>
        </div>
    </div>
</div>