/* You can add global styles to this file, and also import other style files */
/*@import url('https://fonts.googleapis.com/css?family=Muli:400,600,800');*/

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: url('./assets/img/mitrais-carrot-bg-pattern.png') #fefefe;
  /* background-position: bottom right; */
  /* background-repeat: no-repeat; */
  font-family: 'Verdana', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #e0e4ee;
}

h2 { 
  font-size: 1.8rem;
}

/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */

#container {
  padding: 60px 0 0 0;
}

.footer>.container {
  padding-right: 15px ;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.navbar-light {
  border-bottom: 1px solid #d9d9d9;
}

.navbar-brand img,
.user-img {
  max-height: 25px;
}

.right-0 {
  right: 0;
  max-width: 300px;
  left: unset;
}

.nav-link {
  font-size: 0.8rem;
}

.vis-none {
  visibility: hidden;
}

label {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 11px;
  color: #4c1283;
}

.search-box,.navbar-expand-md .navbar-nav .dropdown-menu {
  box-shadow: 0 -4px 38px hsla(0, 0%, 100%, .28), 0 15px 40px rgba(207, 216, 226, .71);
  background: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.soft-shadow {
  box-shadow: 0 -4px 38px hsl(0, 0%, 100%), 0 15px 40px rgba(255, 255, 255, .71);
}

table {
  font-size: 14px;
}

table td {
  color: #666;
}

.btn {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px;
  letter-spacing: 1px;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #dee2e6;
}

.dashboard-number {
  font-size: 50px;
  padding: 10px;
  display: block;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-weight: lighter;
}

.orange {
  background: #fc4a1a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top left, #f7b733, #fc4a1a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top left, #f7b733, #fc4a1a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navy-blue {
  background: #4776E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #8E54E9, #4776E6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #8E54E9, #4776E6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box-title {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #777;
}

.box-title-hr {
  border-top: 3px solid #FF5722;
  width: 30px;
  margin-left: 0;
  margin-bottom: 0px;
}

.br-1 {
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.bl-1 {
  border-left: 1px solid rgba(0, 0, 0, .1);
}

.bt-1 {
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.bb-1 {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.no-mb-p p {
  margin-bottom: 0.2rem;
}

.card-img-top {
  object-fit: contain;
  padding: 10px;
  height: 250px;
}

.card {
  border-color: #e9e9e9;
  transition: 0.3s all ease;
}

.card:hover {
  box-shadow: 0 -4px 38px hsla(0, 0%, 100%, .28), 0 15px 40px rgba(207, 216, 226, .71);
  transition: 0.3s all ease;
}

.card-body {
  background-color: #f8f8f8;
}

.modal-content {
  padding: 1.5rem;
}

.modal-title {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.05rem;
  color: #666;
}

.card-title {
  font-size: 13px;
  font-weight: bold;
}

.card-body p {
  font-size: 12px;
  color: #FF5722;
  font-weight: bold;
}

.btn-carrot {
  background-color: #FF5722;
  color: #fff;
  border-radius: 0 0 5px 5px;
  border: 1px solid #ff5722;
  -webkit-box-shadow: -2px 6px 33px -8px rgba(255,87,34,1);
  -moz-box-shadow: -2px 6px 33px -8px rgba(255,87,34,1);
  box-shadow: -2px 6px 33px -8px rgba(255,87,34,1);
}

.btn-carrot:hover,
.btn-carrot:active {
  background-color: #FF7043;
  transition: 0.3s all ease;
  border-color: #FF7043;
  color: #fff;
}

.text-grey {
  color: #838e9b;
  text-transform: uppercase;
}

.profile-thumb {
  max-height: 80px;
}

.box-profile {
  border-radius: 5px;
  min-height: 155px;
  background: rgba(76, 212, 196, 1);
  background: -moz-linear-gradient(-45deg, rgba(76, 212, 196, 1) 0%, rgba(17, 155, 210, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(76, 212, 196, 1)), color-stop(100%, rgba(17, 155, 210, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(76, 212, 196, 1) 0%, rgba(17, 155, 210, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(76, 212, 196, 1) 0%, rgba(17, 155, 210, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(76, 212, 196, 1) 0%, rgba(17, 155, 210, 1) 100%);
  background: linear-gradient(135deg, rgba(76, 212, 196, 1) 0%, rgba(17, 155, 210, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cd4c4', endColorstr='#119bd2', GradientType=1);
  -webkit-box-shadow: 2px 6px 48px 0px rgba(0, 139, 194, 0.29);
  -moz-box-shadow: 2px 6px 48px 0px rgba(0, 139, 194, 0.29);
  box-shadow: 2px 6px 48px 0px rgba(0, 139, 194, 0.29);
}

.box-carrot {
  background: #fc4a1a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top left, #f7b733, #fc4a1a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top left, #f7b733, #fc4a1a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
  min-height: 125px;
  -webkit-box-shadow: 2px 6px 48px 0px rgba(255, 210, 171, 1);
  -moz-box-shadow: 2px 6px 48px 0px rgba(255, 210, 171, 1);
  box-shadow: 2px 6px 48px 0px rgba(255, 210, 171, 1);
  min-height: 155px;
}

.box-additional {
  background: rgba(85, 6, 204, 1);
  background: -moz-linear-gradient(-45deg, rgba(85, 6, 204, 1) 0%, rgba(10, 128, 255, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(85, 6, 204, 1)), color-stop(100%, rgba(10, 128, 255, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(85, 6, 204, 1) 0%, rgba(10, 128, 255, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(85, 6, 204, 1) 0%, rgba(10, 128, 255, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(85, 6, 204, 1) 0%, rgba(10, 128, 255, 1) 100%);
  background: linear-gradient(135deg, rgba(85, 6, 204, 1) 0%, rgba(10, 128, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5506cc', endColorstr='#0a80ff', GradientType=1);
  border-radius: 5px;
  -webkit-box-shadow: 2px 6px 48px 0px rgba(173, 210, 255, 1);
  -moz-box-shadow: 2px 6px 48px 0px rgba(173, 210, 255, 1);
  box-shadow: 2px 6px 48px 0px rgba(173, 210, 255, 1);
  min-height: 155px;
}

.btn-outline-white {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.btn-outline-white:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: #333;
}

a:not([href]):not([tabindex]) {
  color: #fc4a1a;
  cursor: pointer;
}

.badge-white {
  font-size: 10px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  padding: 5px;
  border: 1px solid #fff;
}

.badge-white:hover {
  border: 1px solid #fff;
  background-color: #fff;
  text-decoration: none;
}

.badge-orange {
  font-size: 10px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #ff5722;
  text-transform: uppercase;
  padding: 5px;
  border: 1px solid #ff5722;
}

.badge-orange:hover {
  border: 1px solid #ff5722;
  background-color: #ff5722;
  text-decoration: none;
}

.back-button img {
  max-height: 25px;
  margin: -5px 10px 0 0;
}

.back {
  transition: 0.3s all ease;
}

.back:hover {
  opacity: 0.6;
  transition: 0.3s all ease;
  margin-left: -5px;
}

.radius-5 {
  border-radius: 5px;
}

.bazaar-item {
  height: 300px;
}

.carrot-orange {
  color: #ff5722;
  font-size: 18px;
}

.box-reward {
  background: #5900b9;
  /* Old Browsers */
  background: -webkit-linear-gradient(bottom left, #5900b9, #3885bd);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom left, #5900b9, #3885bd);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom left, #5900b9, #3885bd);
  /*Fx 3.6-15*/
  background: linear-gradient(bottom left, #5900b9, #3885bd);
  /*Standard*/
  min-height: 155px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 5px 35px 0px rgba(121, 42, 199, 0.32);
  -moz-box-shadow: 4px 5px 35px 0px rgba(121, 42, 199, 0.32);
  box-shadow: 4px 5px 35px 0px rgba(121, 42, 199, 0.32);
}

.box-shared {
  background: #130765;
  /* Old Browsers */
  background: -webkit-linear-gradient(bottom left, #130765, #01b1e7);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom left, #130765, #01b1e7);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom left, #130765, #01b1e7);
  /*Fx 3.6-15*/
  background: linear-gradient(bottom left, #130765, #01b1e7);
  /*Standard*/
  min-height: 155px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 5px 35px 0px rgba(78, 116, 212, 1);
  -moz-box-shadow: 4px 5px 35px 0px rgba(78, 116, 212, 1);
  box-shadow: 4px 5px 35px 0px rgba(78, 116, 212, 1);
}

.box-bazaar {
  background: #02a4d6;
  /* Old Browsers */
  background: -webkit-linear-gradient(top left, #02a4d6, #8000ff);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(top left, #02a4d6, #8000ff);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(top left, #02a4d6, #8000ff);
  /*Fx 3.6-15*/
  background: linear-gradient(top left, #02a4d6, #8000ff);
  /*Standard*/
  min-height: 155px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 5px 35px 0px rgba(158, 195, 235, 1);
  -moz-box-shadow: 4px 5px 35px 0px rgba(158, 195, 235, 1);
  box-shadow: 4px 5px 35px 0px rgba(158, 195, 235, 1);
}

.sub-title {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: 11px;
}

.dropdown-toggle::after {
  display: none;
}

.notif-icon {
  font-size: 25px !important;
  color: #888;
}

.notif-active {
  height: 10px;
  width: 10px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  top: 6px;
  left: 18px;
}

.btn-disabled {
  background-color: #d8d8d8;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline;
  color: #999;
  cursor: not-allowed;
  font-size: 12px;
}

.dropdown-menu {
  width: 400px;
}

.dropdown-item {
  white-space: pre-line;
  text-overflow: ellipsis;
  border-bottom: 1px solid #d8d8d8;
  padding: 10px;
  font-size: 14px;
}

.dropdown-item:last-child {
  border-bottom: 0;
}

.table th,.table thead th,.table td{
  vertical-align: middle;
}

.action-box {
  background: #f9f9f9;
  border-radius: 0px 0px 5px 5px;
  align-content: center;
  padding: 0;
  margin: -20px;
  margin-top: 30px;
  /*border-top: 10px solid #ecf0f5;*/
}

.table-bordered td,
.table-bordered th {
  padding: 8px;
}

.admin-tabs .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #FF5722;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:1px;
  padding: 10px;
  -webkit-box-shadow: -2px 6px 33px -8px rgba(255,87,34,1);
  -moz-box-shadow: -2px 6px 33px -8px rgba(255,87,34,1);
  box-shadow: -2px 6px 33px -8px rgba(255,87,34,1);
  margin-right: 10px;
}

.admin-tabs a.nav-link  {
color: #888;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 1px;
padding: 10px;
margin-right: 10px;
}    

.btn-info {
-webkit-box-shadow: -2px 6px 33px -8px rgba(23,162,184,1);
-moz-box-shadow: -2px 6px 33px -8px rgba(23,162,184,1);
box-shadow: -2px 6px 33px -8px rgba(23,162,184,1);
}

.btn-success, .btn-primary{
-webkit-box-shadow: -2px 6px 33px -8px rgba(75,188,126,1);
-moz-box-shadow: -2px 6px 33px -8px rgba(75,188,126,1);
box-shadow: -2px 6px 33px -8px rgba(75,188,126,1);
}

.table-image {
max-width: 60px;
}

.priority-table {
width: 10%;
}

.checkbox-table {
max-width: 15px;opacity: 0.5;margin-top: -5px;
}

.text-gray-dark {
color: #333!important;
}

.btn-link:hover {
background: #f9f9f9;
}

.btn-clear {
  background: none;
  border: none;
  cursor: pointer;
}

.form-control {
  font-size: 1rem;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signup {
  width: 100%;
  max-width: 660px;
  padding: 15px;
  margin: auto;
}

.btn1 {
  display:block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  /* border: 1px solid red; */
  
}